<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <!-- <link rel="stylesheet" href="../assets/prism.css"> -->
  <link rel="stylesheet" href="https://unpkg.com/dracula-prism/dist/css/dracula-prism.css">

  <title>💀 Skull</title>
</head>
<body>
  <div>
      Hello, world!
  </div>
  <hr>
  <div class="container">
      <%- content %>
  </div>
  <hr>

</body>
</html>