<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/prism.css" />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <title>💀 Skull</title>
  </head>
  <body class="dark">
    <style>
      body {
        max-width: 400px;
        margin: 10px auto;
      }
      body.dark {
        background-color: black;
        color: white;
      }
      body.dark p {
        color: rgb(223, 223, 223);
      }
      body.dark b {
        color: white;
      }
      a {
        color: purple;
      }
    </style>
    <h1>Hey 👋, welcome to Skull!</h1>

    <h2>Here are some of my articles</h2>

    <% articles.forEach((article) => { %>
    <h3>
      <a href="<%- article.url %>"> <%- article.title %> </a>
    </h3>
    <p><i> <%- article.date %> </i></p>
    <p><%- article.description %></p>
    <% }) %>
  </body>
</html>
